body {
  font-family: "Oxygen", sans-serif;
}

.slick-next:before,
.slick-prev:before {
  color: #000000;
}

.slick-list {
  text-align: center;
}

.ant-collapse-content {
  background-color: rgb(255,255,255) !important;
}

.ant-layout { 
  background-color : transparent;
}